# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# uv
uv.lock

# Environment variables
.env
.env.*

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Data files
data/

# Test files
test*.py

docs/

*.patch

# Frontend
node_modules/
dist-ssr
frontend/dist/
*.local
.pnpm-store/